[buildout]
extensions = 
	mr.developer

show-picked-versions = true

extends = 
	http://dist.plone.org/release/4.3.3-pending/versions.cfg
	versions.cfg

find-links = 
	http://dist.vorwaerts-werbung.de/public

versions = versions
unzip = true

[eggs]
main = 
	example.sitetheme
    ade25.banner
    ade25.panelpage
    ade25.toolbar

addon = 
	Pillow
    Products.PasswordStrength
    collective.emaillogin4
	plone.app.caching
	plone.app.contenttypes
	plone.app.toolbar
	plone.app.widgets

test = 
	example.sitetheme [test]

devtools = 
	bpython
	plone.reload
	sauna.reload
	Products.PDBDebugMode
	Products.PrintingMailHost
	Products.DocFinderTab

[sources]
example.sitetheme 		= fs example.sitetheme

# Additional checkouts
ade25.banner            = git git@github.com:ade25/ade25.banner.git
ade25.toolbar 			= git git@github.com:ade25/ade25.toolbar.git
ade25.typekit 			= git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
ade25.panelpage         = git git@github.com:ade25/ade25.panelpage.git
sauna.reload 			= git https://github.com/epeli/sauna.reload.git

