<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="container">
      <div class="app-footer-nav">
        <ul class="nav nav-pills app-footer-nav-pills" id="app-footer-nav-pills">
          <li><a href="#">Projekt</a></li>
          <li><a href="#">Aktuelles</a></li>
          <li><a href="#">Mitarbeit</a></li>
          <li><a href="#">Spenden</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">facebook</a></li>
        </ul>
      </div>
      <p>kik e.V. &copy; 2014 &ndash; All rights reserved. <a href="/kontakt">Impressum</a></p>
    </div>
</footer>