<div class="app-logobar" id="app-logobar">
  <div class="container app-logobar-section">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h5>Kooperationspartner</h5>
        <div class="row">
          <div class="col-xs-6">
            <a href="/kontakt" class="thumbnail">
              <img class="xximg-polaroid" src="{{ page.base_url }}assets/img/fixpunkt.jpg"
                  title="Klik eV" />
            </a>
          </div>
          <div class="col-xs-6">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/spi.jpg"
                  title="Klik eV" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h5>Förderer</h5>
        <div class="row">
          <div class="col-xs-12 col-md-2">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/aktion-mensch.jpg"
                  title="Klik eV" />
            </a>
          </div>
          <div class="col-xs-12 col-md-2">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/johannitische-stiftung.jpg"
                  title="Klik eV" />
            </a>
          </div>
          <div class="col-xs-12 col-md-2">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/skw.jpg"
                  title="Klik eV" />
            </a>
          </div>
          <div class="col-xs-12 col-md-2">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/paritaetische.jpg"
                  title="Klik eV" />
            </a>
          </div>
          <div class="col-xs-12 col-md-2">
            <a href="/kontakt" class="thumbnail">
              <img class="img-polaroid" src="{{ page.base_url }}assets/img/haleakala.jpg"
                  title="Klik eV" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>