//
// Application stylesheet
// -----------------------------------------------

.app-toolbar + .app-header {
    margin-top: @navbar-height;
}

.app-header {
  margin-bottom: @jumbotron-padding;
  color: @jumbotron-color;
  background:url(../assets/img/header-bg-01.png) no-repeat 50% 0 @app-secondary;
  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding);

    .container & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }
  }
}

.app-header-claim {
  margin-top: ceil((@navbar-height * 1.5));
  padding: @jumbotron-padding;
  h1,
  .h1 {
    color: @brand-primary;
    text-transform: uppercase;
    @media screen and (min-width: @screen-sm-min) {
      font-size: ceil((@font-size-base * 3));
    }
  }
  .app-header-claim-abstract {
    //margin-bottom: (@jumbotron-padding / 2);
    //font-family: @font-family-base;
    //font-size: @jumbotron-font-size;
    //font-weight: 200;
    text-transform: uppercase;
  }
  @media screen and (min-width: @screen-sm-min) {
    margin-top: ceil((@navbar-height * 2.5));
  }
}

.splashbox {
  padding: @line-height-computed 0;
  .splashbox-header {
    padding: @line-height-computed;
    text-align: center;
    color: @gray-light;
  }
}

.splashbox-icon {
  .center-block();
  .square(@navbar-height);
  padding-top: @padding-base-vertical;
  border: 1px solid @gray-light;
  border-radius: 50%;
  text-align: center;
}

.app-box-header {
  padding: @padding-small-vertical @padding-base-horizontal;
  margin: @line-height-computed 0;
  background: @brand-primary;
  color: #fff;
  text-transform: uppercase;
}

.app-box-content {
  padding: @line-height-computed;
  border-left: 1px solid @gray;
}


.page-header {
  border-width: 4px;
  border-color: @brand-primary;
  > h1 {
    text-transform: uppercase;
  }
}

#content-core {
  h2,
  h3,
  h4 {
    color: @app-primary;
  }
}
