<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include toolbar.html %}

    <div class="app-header">
      {% include brandbar.html %}
      <div class="container app-header-claim">
        <div class="h1 app-header-claim-title">{{ page.title }}</div>
        <div class="h2 app-header-claim-abstract">{{ page.lead }}</div>
        <p class="lead app-header-claim-lead">
          Der klik Kontaktladen ist ein Angebot an junge Menschen,
          deren Lebensmittelpunkt die Straße ist. Wir bieten einen Ort,
          an dem sich die jungen Menschen zurückziehen können und unterstützen
          aktiv bei der Verbesserung der Lebensbedingungen.
        </p>
      </div>
    </div>

    <div class="container">
        <div role="main">
          {{ content }}
        </div>
    </div>
    {% include logobar.html %}
    {% include footer.html %}
    {% include javascript.html %}
    <div class="app-js-slot">
        {% include webfonts.html %}
    </div>

  </body>
</html>